

.App {
  /* background-image: "https://cdn.vox-cdn.com/thumbor/KksSTPxukuuyrCHq1bnKlYdzYl8=/0x0:2040x1360/1820x1213/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/59172625/mdoying_180118_2249_facebook_0445stills_3.0.jpg"; */

  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-bgi{
  opacity: .3
}

.App-header {

  /* background-color: #282c34; */
  /* background-color: green; */
  background-image: url(background_img.jpg);
  /* filter: blur(8px); */
  /* background-image: url('https://cdn.vox-cdn.com/thumbor/KksSTPxukuuyrCHq1bnKlYdzYl8=/0x0:2040x1360/1820x1213/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/59172625/mdoying_180118_2249_facebook_0445stills_3.0.jpg'); */

  /* background-color: rgba(0, 0, 0, 0.2); */


  /* position: flex; */
  /* z-index: -1; */
  /* opacity: .2; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: #2196F3;
  padding: 50px;
}



.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* .grid-item:hover {
  background-color: green;
  transition: background-color 2s ease;
  -webkit-transition: background-color 2s ease;
  -ms-transition: background-color 2s ease;
} */

.button {
  background-color: #3A5998;
  font-size: 20px;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
}

.inp {
  width: 40%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid red;
border-radius: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
